<a href="https://colab.research.google.com/github/august3sas/OOP-put-course/blob/main/Data_Mining_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Mining - Project

Jupyter notebook for data mining project.

## Predicting property prices using location attributes & characteristics

### 0. Pulling the datasets

In [12]:
!pip install gdown -q
!sudo apt-get install tree -q

import os
from pathlib import Path

data_dir = Path('data')
data_dir.mkdir(exist_ok=True)

folder_url = 'https://drive.google.com/drive/folders/1vgj_pa2kw-vlT5XmC_Yft7cJAASd_xh7'

!gdown --folder {folder_url} -O {data_dir}

print("\nDownloaded files:")
!tree {data_dir}

Reading package lists...
Building dependency tree...
Reading state information...
The following NEW packages will be installed:
  tree
0 upgraded, 1 newly installed, 0 to remove and 29 not upgraded.
Need to get 47.9 kB of archives.
After this operation, 116 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 tree amd64 2.0.2-1 [47.9 kB]
Fetched 47.9 kB in 0s (124 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package tree.
(Reading database ... 126209 files and directories currently installed.)
Preparing to unpack .../tree_2.0.2-1_amd64.deb ...
Unpacking tree (2.0.2-1) ...
Setting up tree (2.0.2-1) ...
Processing triggers for man-db (2.10.2-1) ...
Retrieving folder contents
Processing file 1iFFvasVMk1S8dTEQ3VD5CIwG-bjAk3ES california-housing-prices.csv
Processing file 1LLtz1_dATYcmukgDbwRlmsMoNfHyZzAo housedata.csv
Processing file 1W2qFgkImU-m7tts1O4_ehmgyI_XMKRTX melbourne_housing_prices_less.csv
Processing file 13fqeOTeTfYhn2kmxxeS0kP88sD9EZ8OJ melbourne-housing-full.csv
Processing file 1aMTZXgnX6me_OukbO5Hv3ygJwxuAZCT8 melbourne-housing-snapshot.csv
Processing file 1WmJEPetz6E71jNQLnmpROzBjc7oqBJYc nyc-rolling-sales.csv
Processing file 1M-tUTty7Kb6pHkCh8XfmvppyoibZwfP7 real-estate-dataset.csv
Processing file 18nPPkS4QPdTMZJvaOkrYBuEQTq2ZpxnN real-estate-price-prediction.csv
Processing file 14UF6XrGRNuOnIRJbnysPzMZBOQgx16Da usa-real-estate-dataset.csv
Retrieving folder contents completed
Building directory structure
Building directory structure completed
Downloading...
From: https://drive.google.com/uc?id=1iFFvasVMk1S8dTEQ3VD5CIwG-bjAk3ES
To: /content/data/california-housing-prices.csv
100% 1.42M/1.42M [00:00<00:00, 13.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1LLtz1_dATYcmukgDbwRlmsMoNfHyZzAo
To: /content/data/housedata.csv
100% 527k/527k [00:00<00:00, 6.37MB/s]
Downloading...
From: https://drive.google.com/uc?id=1W2qFgkImU-m7tts1O4_ehmgyI_XMKRTX
To: /content/data/melbourne_housing_prices_less.csv
100% 7.30M/7.30M [00:00<00:00, 30.7MB/s]
Downloading...
From: https://drive.google.com/uc?id=13fqeOTeTfYhn2kmxxeS0kP88sD9EZ8OJ
To: /content/data/melbourne-housing-full.csv
100% 5.02M/5.02M [00:00<00:00, 19.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1aMTZXgnX6me_OukbO5Hv3ygJwxuAZCT8
To: /content/data/melbourne-housing-snapshot.csv
100% 2.09M/2.09M [00:00<00:00, 17.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1WmJEPetz6E71jNQLnmpROzBjc7oqBJYc
To: /content/data/nyc-rolling-sales.csv
100% 13.6M/13.6M [00:00<00:00, 47.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1M-tUTty7Kb6pHkCh8XfmvppyoibZwfP7
To: /content/data/real-estate-dataset.csv
100% 35.5k/35.5k [00:00<00:00, 12.6MB/s]
Downloading...
From: https://drive.google.com/uc?id=18nPPkS4QPdTMZJvaOkrYBuEQTq2ZpxnN
To: /content/data/real-estate-price-prediction.csv
100% 22.0k/22.0k [00:00<00:00, 59.8MB/s]
Downloading...
From (original): https://drive.google.com/uc?id=14UF6XrGRNuOnIRJbnysPzMZBOQgx16Da
From (redirected): https://drive.google.com/uc?id=14UF6XrGRNuOnIRJbnysPzMZBOQgx16Da&confirm=t&uuid=3c28de01-a46d-4d1d-bcd1-cdc3fe024166
To: /content/data/usa-real-estate-dataset.csv
100% 179M/179M [00:03<00:00, 51.9MB/s]
Download completed

Downloaded files:
data
├── california-housing-prices.csv
├── housedata.csv
├── melbourne-housing-full.csv
├── melbourne_housing_prices_less.csv
├── melbourne-housing-snapshot.csv
├── nyc-rolling-sales.csv
├── real-estate-dataset.csv
├── real-estate-price-prediction.csv
└── usa-real-estate-dataset.csv

0 directories, 9 files

In [13]:
import pandas as pd

In [20]:
chp = pd.read_csv('data/california-housing-prices.csv')
hd = pd.read_csv('data/housedata.csv')
melb = pd.read_csv('data/melbourne-housing-full.csv')
nyc = pd.read_csv('data/nyc-rolling-sales.csv')
red = pd.read_csv('data/real-estate-dataset.csv')
repp = pd.read_csv('data/real-estate-price-prediction.csv')
ured = pd.read_csv('data/usa-real-estate-dataset.csv')

### 1. Data Exploration

Let's take a glance at data that is available in the datasets

In [34]:
def print_dataset_overview(dataset, dataset_name):
  print()
  print('============================')
  print(dataset_name)
  print('============================')
  print('Attributes')
  print(dataset.columns)
  print()
  print('Number of rows')
  print(dataset.shape[0])
  print()
  print('Number of columns')
  print(dataset.shape[1])
  print()
  print('First 5 rows')
  print(dataset.head())
  print()
  print('Info')
  print(dataset.info())
  print()
  print('Describe')
  print(dataset.describe())

In [24]:
print_dataset_overview(ured, 'USA Real Estate Dataset')
print_dataset_overview(chp, 'California Housing Prices')
print_dataset_overview(hd, 'House Data')
print_dataset_overview(melb, 'Melbourne Housing Full')
print_dataset_overview(nyc, 'NYC Rolling Sales')
print_dataset_overview(repp, 'Real Estate Price Prediction')

============================
USA Real Estate Dataset
============================
Attributes
Index(['brokered_by', 'status', 'price', 'bed', 'bath', 'acre_lot', 'street',
       'city', 'state', 'zip_code', 'house_size', 'prev_sold_date'],
      dtype='object')

Number of rows
2226382

Number of columns
12

First 5 rows
   brokered_by    status     price  bed  bath  acre_lot     street  \
0     103378.0  for_sale  105000.0  3.0   2.0      0.12  1962661.0
1      52707.0  for_sale   80000.0  4.0   2.0      0.08  1902874.0
2     103379.0  for_sale   67000.0  2.0   1.0      0.15  1404990.0
3      31239.0  for_sale  145000.0  4.0   2.0      0.10  1947675.0
4      34632.0  for_sale   65000.0  6.0   2.0      0.05   331151.0

         city        state  zip_code  house_size prev_sold_date
0    Adjuntas  Puerto Rico     601.0       920.0            NaN
1    Adjuntas  Puerto Rico     601.0      1527.0            NaN
2  Juana Diaz  Puerto Rico     795.0       748.0            NaN
3       Ponce  Puerto Rico     731.0      1800.0            NaN
4    Mayaguez  Puerto Rico     680.0         NaN            NaN

Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2226382 entries, 0 to 2226381
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   brokered_by     float64
 1   status          object
 2   price           float64
 3   bed             float64
 4   bath            float64
 5   acre_lot        float64
 6   street          float64
 7   city            object
 8   state           object
 9   zip_code        float64
 10  house_size      float64
 11  prev_sold_date  object
dtypes: float64(8), object(4)
memory usage: 203.8+ MB
None

Describe
        brokered_by         price           bed          bath      acre_lot  \
count  2.221849e+06  2.224841e+06  1.745065e+06  1.714611e+06  1.900793e+06
mean   5.293989e+04  5.241955e+05  3.275841e+00  2.496440e+00  1.522303e+01
std    3.064275e+04  2.138893e+06  1.567274e+00  1.652573e+00  7.628238e+02
min    0.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00
25%    2.386100e+04  1.650000e+05  3.000000e+00  2.000000e+00  1.500000e-01
50%    5.288400e+04  3.250000e+05  3.000000e+00  2.000000e+00  2.600000e-01
75%    7.918300e+04  5.500000e+05  4.000000e+00  3.000000e+00  9.800000e-01
max    1.101420e+05  2.147484e+09  4.730000e+02  8.300000e+02  1.000000e+05

             street      zip_code    house_size
count  2.215516e+06  2.226083e+06  1.657898e+06
mean   1.012325e+06  5.218668e+04  2.714471e+03
std    5.837635e+05  2.895408e+04  8.081635e+05
min    0.000000e+00  0.000000e+00  4.000000e+00
25%    5.063128e+05  2.961700e+04  1.300000e+03
50%    1.012766e+06  4.838200e+04  1.760000e+03
75%    1.521173e+06  7.807000e+04  2.413000e+03
max    2.001357e+06  9.999900e+04  1.040400e+09

============================
California Housing Prices
============================
Attributes
Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

Number of rows
20640

Number of columns
10

First 5 rows
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None

Describe
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

============================
House Data
============================
Attributes
Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

Number of rows
4600

Number of columns
18

First 5 rows
                  date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  2014-05-02 00:00:00   313000.0       3.0       1.50         1340      7912
1  2014-05-02 00:00:00  2384000.0       5.0       2.50         3650      9050
2  2014-05-02 00:00:00   342000.0       3.0       2.00         1930     11947
3  2014-05-02 00:00:00   420000.0       3.0       2.25         2000      8030
4  2014-05-02 00:00:00   550000.0       4.0       2.50         1940     10500

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     1.5           0     0          3        1340              0      1955
1     2.0           0     4          5        3370            280      1921
2     1.0           0     0          4        1930              0      1966
3     1.0           0     0          4        1000           1000      1963
4     1.0           0     0          4        1140            800      1976

   yr_renovated                    street       city  statezip country
0          2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
1             0           709 W Blaine St    Seattle  WA 98119     USA
2             0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3             0           857 170th Pl NE   Bellevue  WA 98008     USA
4          1992         9105 170th Ave NE    Redmond  WA 98052     USA

Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB
None

Describe
              price     bedrooms    bathrooms   sqft_living      sqft_lot  \
count  4.600000e+03  4600.000000  4600.000000   4600.000000  4.600000e+03
mean   5.519630e+05     3.400870     2.160815   2139.346957  1.485252e+04
std    5.638347e+05     0.908848     0.783781    963.206916  3.588444e+04
min    0.000000e+00     0.000000     0.000000    370.000000  6.380000e+02
25%    3.228750e+05     3.000000     1.750000   1460.000000  5.000750e+03
50%    4.609435e+05     3.000000     2.250000   1980.000000  7.683000e+03
75%    6.549625e+05     4.000000     2.500000   2620.000000  1.100125e+04
max    2.659000e+07     9.000000     8.000000  13540.000000  1.074218e+06

            floors   waterfront         view    condition   sqft_above  \
count  4600.000000  4600.000000  4600.000000  4600.000000  4600.000000
mean      1.512065     0.007174     0.240652     3.451739  1827.265435
std       0.538288     0.084404     0.778405     0.677230   862.168977
min       1.000000     0.000000     0.000000     1.000000   370.000000
25%       1.000000     0.000000     0.000000     3.000000  1190.000000
50%       1.500000     0.000000     0.000000     3.000000  1590.000000
75%       2.000000     0.000000     0.000000     4.000000  2300.000000
max       3.500000     1.000000     4.000000     5.000000  9410.000000

       sqft_basement     yr_built  yr_renovated
count    4600.000000  4600.000000   4600.000000
mean      312.081522  1970.786304    808.608261
std       464.137228    29.731848    979.414536
min         0.000000  1900.000000      0.000000
25%         0.000000  1951.000000      0.000000
50%         0.000000  1976.000000      0.000000
75%       610.000000  1997.000000   1999.000000
max      4820.000000  2014.000000   2014.000000

============================
Melbourne Housing Full
============================
Attributes
Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

Number of rows
34857

Number of columns
21

First 5 rows
       Suburb             Address  Rooms Type      Price Method SellerG  \
0  Abbotsford       68 Studley St      2    h        NaN     SS  Jellis
1  Abbotsford        85 Turner St      2    h  1480000.0      S  Biggin
2  Abbotsford     25 Bloomburg St      2    h  1035000.0      S  Biggin
3  Abbotsford  18/659 Victoria St      3    u        NaN     VB  Rounds
4  Abbotsford        5 Charles St      3    h  1465000.0     SP  Biggin

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/09/2016       2.5    3067.0  ...       1.0  1.0     126.0           NaN
1  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
2  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
3  4/02/2016       2.5    3067.0  ...       2.0  1.0       0.0           NaN
4  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0

   YearBuilt         CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN  Yarra City Council  -37.8014    144.9958  Northern Metropolitan
1        NaN  Yarra City Council  -37.7996    144.9984  Northern Metropolitan
2     1900.0  Yarra City Council  -37.8079    144.9934  Northern Metropolitan
3        NaN  Yarra City Council  -37.8114    145.0116  Northern Metropolitan
4     1900.0  Yarra City Council  -37.8093    144.9944  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0

[5 rows x 21 columns]

Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB
None

Describe
              Rooms         Price      Distance      Postcode      Bedroom2  \
count  34857.000000  2.724700e+04  34856.000000  34856.000000  26640.000000
mean       3.031012  1.050173e+06     11.184929   3116.062859      3.084647
std        0.969933  6.414671e+05      6.788892    109.023903      0.980690
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000
25%        2.000000  6.350000e+05      6.400000   3051.000000      2.000000
50%        3.000000  8.700000e+05     10.300000   3103.000000      3.000000
75%        4.000000  1.295000e+06     14.000000   3156.000000      4.000000
max       16.000000  1.120000e+07     48.100000   3978.000000     30.000000

           Bathroom           Car       Landsize  BuildingArea     YearBuilt  \
count  26631.000000  26129.000000   23047.000000   13742.00000  15551.000000
mean       1.624798      1.728845     593.598993     160.25640   1965.289885
std        0.724212      1.010771    3398.841946     401.26706     37.328178
min        0.000000      0.000000       0.000000       0.00000   1196.000000
25%        1.000000      1.000000     224.000000     102.00000   1940.000000
50%        2.000000      2.000000     521.000000     136.00000   1970.000000
75%        2.000000      2.000000     670.000000     188.00000   2000.000000
max       12.000000     26.000000  433014.000000   44515.00000   2106.000000

          Lattitude    Longtitude  Propertycount
count  26881.000000  26881.000000   34854.000000
mean     -37.810634    145.001851    7572.888306
std        0.090279      0.120169    4428.090313
min      -38.190430    144.423790      83.000000
25%      -37.862950    144.933500    4385.000000
50%      -37.807600    145.007800    6763.000000
75%      -37.754100    145.071900   10412.000000
max      -37.390200    145.526350   21650.000000

============================
NYC Rolling Sales
============================
Attributes
Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

Number of rows
84548

Number of columns
22

First 5 rows
   Unnamed: 0  BOROUGH   NEIGHBORHOOD  \
0           4        1  ALPHABET CITY
1           5        1  ALPHABET CITY
2           6        1  ALPHABET CITY
3           7        1  ALPHABET CITY
4           8        1  ALPHABET CITY

                       BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  \
0  07 RENTALS - WALKUP APARTMENTS                                2A    392
1  07 RENTALS - WALKUP APARTMENTS                                 2    399
2  07 RENTALS - WALKUP APARTMENTS                                 2    399
3  07 RENTALS - WALKUP APARTMENTS                                2B    402
4  07 RENTALS - WALKUP APARTMENTS                                2A    404

   LOT EASE-MENT BUILDING CLASS AT PRESENT                 ADDRESS  ...  \
0    6                                  C2            153 AVENUE B  ...
1   26                                  C7   234 EAST 4TH   STREET  ...
2   39                                  C7   197 EAST 3RD   STREET  ...
3   21                                  C4     154 EAST 7TH STREET  ...
4   55                                  C2  301 EAST 10TH   STREET  ...

  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
0                 5                 0            5              1633
1                28                 3           31              4616
2                16                 1           17              2212
3                10                 0           10              2272
4                 6                 0            6              2369

   GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
0               6440       1900                         2
1              18690       1900                         2
2               7803       1900                         2
3               6794       1913                         2
4               4615       1900                         2

   BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
0                              C2     6625000  2017-07-19 00:00:00
1                              C7         -    2016-12-14 00:00:00
2                              C7         -    2016-12-09 00:00:00
3                              C4     3936272  2016-09-23 00:00:00
4                              C2     8000000  2016-11-17 00:00:00

[5 rows x 22 columns]

Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object

#### Attribute selection

From the usa-real-estate-dataset.csv we can see that most likey, 'brokered_by' and 'status' attributes will be unsignificant and redundant, since it encodes the agency that sold the property and indicates the sale status, which is not the aim of this analysis. Even though 'prev_sold_date' also describes the sale of the property, we will leave it be, since it indicates, if the property was sold before.

Also, the 'street' attribute is way too specific. For determining the location, 'state','city' and 'zip_code' should be sufficient.

In summary, the attributes we selected for exploratory analysis are:
- price (the attribute we are trying to predict)
- bed (the number of bedrooms)
- bath (the number of bathrooms)
- acre_lot (total lot size)
- city
- state
- zip_code
- house_size
- prev_sold_date

In [29]:
ured_filtered = ured.drop(columns=['brokered_by', 'street', 'status'])

In [30]:
print_dataset_overview(ured_filtered, 'USA Real Estate Dataset - filtered')

============================
USA Real Estate Dataset - filtered
============================
Attributes
Index(['price', 'bed', 'bath', 'acre_lot', 'city', 'state', 'zip_code',
       'house_size', 'prev_sold_date'],
      dtype='object')

Number of rows
2226382

Number of columns
9

First 5 rows
      price  bed  bath  acre_lot        city        state  zip_code  \
0  105000.0  3.0   2.0      0.12    Adjuntas  Puerto Rico     601.0
1   80000.0  4.0   2.0      0.08    Adjuntas  Puerto Rico     601.0
2   67000.0  2.0   1.0      0.15  Juana Diaz  Puerto Rico     795.0
3  145000.0  4.0   2.0      0.10       Ponce  Puerto Rico     731.0
4   65000.0  6.0   2.0      0.05    Mayaguez  Puerto Rico     680.0

   house_size prev_sold_date
0       920.0            NaN
1      1527.0            NaN
2       748.0            NaN
3      1800.0            NaN
4         NaN            NaN

Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2226382 entries, 0 to 2226381
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   price           float64
 1   bed             float64
 2   bath            float64
 3   acre_lot        float64
 4   city            object
 5   state           object
 6   zip_code        float64
 7   house_size      float64
 8   prev_sold_date  object
dtypes: float64(6), object(3)
memory usage: 152.9+ MB
None

Describe
              price           bed          bath      acre_lot      zip_code  \
count  2.224841e+06  1.745065e+06  1.714611e+06  1.900793e+06  2.226083e+06
mean   5.241955e+05  3.275841e+00  2.496440e+00  1.522303e+01  5.218668e+04
std    2.138893e+06  1.567274e+00  1.652573e+00  7.628238e+02  2.895408e+04
min    0.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    1.650000e+05  3.000000e+00  2.000000e+00  1.500000e-01  2.961700e+04
50%    3.250000e+05  3.000000e+00  2.000000e+00  2.600000e-01  4.838200e+04
75%    5.500000e+05  4.000000e+00  3.000000e+00  9.800000e-01  7.807000e+04
max    2.147484e+09  4.730000e+02  8.300000e+02  1.000000e+05  9.999900e+04

         house_size
count  1.657898e+06
mean   2.714471e+03
std    8.081635e+05
min    4.000000e+00
25%    1.300000e+03
50%    1.760000e+03
75%    2.413000e+03
max    1.040400e+09

#### Clearing empty values

Firstly, let's inspect the columns for empty values

In [31]:
def count_nans(dataset):
  for column in dataset.columns:
    print(f'{column}: {dataset[column].isna().sum()}')

In [33]:
count_nans(ured_filtered)
count_nans(chp)

price: 1541
bed: 481317
bath: 511771
acre_lot: 325589
city: 1407
state: 8
zip_code: 299
house_size: 568484
prev_sold_date: 734297
longitude: 0
latitude: 0
housing_median_age: 0
total_rooms: 0
total_bedrooms: 207
population: 0
households: 0
median_income: 0
median_house_value: 0
ocean_proximity: 0

Handling NaN values:

- in 'price' - entries will be dropped
- in 'bed' and 'bath' - ...
- in 'acre_lot' - ...
- in 'city', 'state', 'zip' - entries will be dropped
- in 'house_size' - ...

- for 'prev_sold_date' we will introduce a new variable, that indicates, if the property has been sold before, since it could affect the final price.